#browse.city
	.row: .col-lg-24
		header: h1.pageTitle= props.pageTitle
		.alert.alert-info: p.description= props.description

	.row
		.col-sm-6
			!= props.optionsHtml
		.col-sm-18
			!= props.placesHtml

	script.
		var browseConfig = !{JSON.stringify(props.browseConfig)};