#places
	if props.places.length
		each place in props.places
			!= props.renderPlace({place: place})

	else
		.alert.alert-warning
			h1 No Results
			p Try a bigger search radius, or check somewhere else in 
				a.alert-link(href=props.browseConfig.city.state.getLink())= props.browseConfig.city.state.name