<div id="browse" class="city">

	<div class="row"><div class="col-lg-24">
		<header>
			<h1 class="pageTitle"><%= props.pageTitle %></h1>
		</header>
		<div class="alert alert-info">
			<p class="description"><%= props.description %></p>
		</div>
	</div></div>

	
	<div class="row">
		<div class="col-sm-8 col-md-8 col-md-6"><!--  col-sm-push-14 col-md-push-16 -->

			<%= props.render('/browse/options', {
				appState: props.appState
			}) %>

		</div>
		<div class="col-sm-16 col-md-16 col-lg-18"><!--  col-sm-pull-10 col-md-pull-8 -->

			<div class="top-pagination">
				<%= props.render('/browse/options/pagination', {
					page: props.appState.page,
					numPages: props.appState.numPages,
					call_id: props.appState.call_id,
					getLink: props.appState.getLink,
				}) %>
			</div>


			<%= props.render('/browse/places', {
				places: props.places, 
				appState: props.appState}
			) %>


			<div class="bottom-pagination">
				<%= props.render('/browse/options/pagination', {
					page: props.appState.page,
					numPages: props.appState.numPages,
					call_id: props.appState.call_id,
					getLink: props.appState.getLink,
				}) %>
			</div>


			<div class="attribution">
				<a href="http://www.citygrid.com/">
					<span>Powered by</span>
					<img src="/img/citygrid.svg">
				</a>
			</div>


		</div>
	</div>



</div>