<div id="places">
	<% if (props.places.length) { %>
		
	
		<% var renderPlace = props.render('/browse/place'); %>

		<%= _.map(props.places, function(place){
			return renderPlace({place: place});
		}).join('') %>

	<% } else { %>

		<div class="alert alert-warning">
			<h1>No Results</h1>
			<p>
				Try a bigger search radius, or check somewhere else in 
				<a class="alert-link" href="<%= props.appState.city.state.getLink() %>"><%= props.appState.city.state.name %></a>
			</p>			
		</div>

	<% } %>
</div>