<div id="places">
	<% if (props.places.length) { %>

		<div class="top-pagination">
			<%= props.render('/browse/options/pagination', {
				page: props.appState.page,
				numPages: props.appState.numPages,
				call_id: props.appState.call_id,
				getLink: props.appState.getLink,
			}) %>
		</div>
		
	
		<% var renderPlace = props.render('/browse/place'); %>

		<%= _.map(props.places, function(place){
			return renderPlace({place: place});
		}).join('') %>



		<div class="bottom-pagination">
			<%= props.render('/browse/options/pagination', {
				page: props.appState.page,
				numPages: props.appState.numPages,
				call_id: props.appState.call_id,
				getLink: props.appState.getLink,
			}) %>
		</div>

	<% } else { %>

		<div class="alert alert-warning">
			<h1>No Results</h1>
			<p>
				Try a bigger search radius, or check somewhere else in 
				<a class="alert-link" href="<%= props.appState.city.state.getLink() %>"><%= props.appState.city.state.name %></a>
			</p>			
		</div>

	<% } %>
</div>