#home

	.row: .col-lg-24
		header: h1.pageTitle= pageTitle
		p.description= description


	.row: .col-lg-24
		div
			a.btn.btn-primary(href='/utah/vernal') /utah/vernal
			a.btn.btn-default(href='/washington/bellevue') /washington/bellevue
			a.btn.btn-default(href='/invalid/place') /invalid/place

		!= statesHtml

