
#browse {
	ul.geo-list {
		li {
			line-height: 160%;
			font-size: 12pt;
		}
	}	
}

#browse #places {
	.place {
		& + .place {
			margin-top: 2em;
		}

		h2 {
			border-bottom: 1px solid @gray-lighter;
			padding-bottom: .1em;
			margin: 0 0 .2em;
		}
		img {
			max-width: 100%;
		}
	}
}


#browse #options {
	a {
		cursor: pointer;
	}

	.meta {
		margin-bottom: 1em;
	}

	.option-group {
		& + .option-group {
			margin-top: 1.5em;
		}
		h6 {
			font-size: 10pt;
			margin: 0 0 .5em;
		}
	}
}



ul.pagination {	
	#browse .top-pagination & {
		margin-top: 0;
	}

	li > * {
		font-size: 10pt;
		padding: .4em .6em;
	}
}