
#browse {
	margin-bottom: 40px;

	ul.geo-list {
		li {
			line-height: 160%;
			font-size: 12pt;
		}
	}

	.attribution {
		text-align: right;
		span {
			display: block;
			font-size: 10pt;
			font-variant: small-caps;
			margin-right: 12px;
			font-weight: 500;
		}
		img {
			height: 32px;
		}
	}
}

#browse #places {
	.place {
		& + .place {
			margin-top: 2em;
		}

		h2 {
			border-bottom: 1px solid @gray-lighter;
			padding-bottom: .1em;
			margin: 0 0 .2em;
		}
		img {
			max-width: 100%;
		}

		.services {
			h4 {
				margin: 0 0 8px 0;
				padding: 0;
				font-weight: 500;
			}
			
			ul {
				padding: 0;
				margin: 0 0 1em .5em;
			}

			.primary li {
				font-size: 11pt;
			}

			.additional ul {
				max-width: 26em;
				.columns(8em auto);

				li {
					font-size: 8pt;
					white-space: nowrap;
					overflow-x: hidden;
					text-overflow: ellipsis;
				}
			}
		}

		.rating {
			padding: 0 0 12px;
			font-size: 32pt;
			line-height: 100%;

			span {
				color: rgba(0,0,0,.5);
				font-size: 11pt;
				font-weight: 400;
				line-height: inherit;
				vertical-align: baseline;
			}
		}

		.reviewCount {
			font-size: 12pt;
			padding: 0 0 12px;
		}

		.offers {
			margin: 0 0 1em 0;
		}
	}
}


#browse #options {
	a {
		cursor: pointer;
	}

	.meta {
		margin-bottom: 1em;
	}

	.option-group {
		& + .option-group {
			margin-top: 1.5em;
		}
		h6 {
			font-size: 10pt;
			margin: 0 0 .5em;
		}
	}
}



ul.pagination {	
	#browse .top-pagination & {
		margin-top: 0;
	}

	li > * {
		font-size: 10pt;
		padding: .4em .6em;
	}
}