
/*
*	Global Overrides
*/

html {
	overflow-y: scroll;
	overflow-x: auto;
}
body {
	min-width: 260px;
	position: relative;
}

.contentWrapper {
	position: absolute;
	width: 100%;
}




/*
*	weight
*/

h1, h2, h3, h4, h5, h6, strong, .strong .label {
	font-weight: 500;
}



/*
*	breadcrumb
*/

.breadcrumb {
	.active a {
		font-weight: 500;
		color: @text-color;
	}
}



/*
*	responsive-cols
*/

ul.nav-tabs.responsive-col-tabs {
	margin: .5em 0;

	a {
		cursor: pointer;
		font-size: 8pt;
		line-height: 100%;
		padding: .3em .6em;
		margin: 0;
	}
}

ul.responsive-cols {
	.columns(15em auto);

	li {
		white-space: nowrap;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}
}




/*
*	Definition List
*/


dt {
	font-weight: 500;
}
dd {
	margin-left: 1em;
}
dd + dt {
	margin-top: .5em;
}



/*
*	Panels
*/

.panel {
	.panel-heading {
		h1, h2, h3, h4, h5, h6 {
			margin: 0;
			padding: 0;
		}
	}
}