

.navbar {
	.navbar-brand {
		line-height: @navbar-height;
		padding: 0 12px;
		margin: 0;
		font-size: 15pt;

		img {
			margin-right: .5em;
			position: relative;
			top: -2px;
		}
	}
}



/*
* Loading
*/

#loading {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 62px;

	padding: 22px 12px;
	margin: 0;

	.progress {
		margin: 0;
		padding: 0;
		.progress-bar {
			width: 100%;
		}
	}
}