


h1.pageTitle {
	margin: .25em 0 .5em;
	padding: 0;
	text-align: center;

	font-size: 18pt;
	@media(min-width: @screen-xs-min) { font-size: 28pt; }
	@media(min-width: @screen-md-min) { font-size: 40pt; }
	@media(min-width: @screen-lg-min) { font-size: 48pt; }


	small {
		display: block;
		font-size: 40%;
		margin-top: .5em;
		line-height: 140%;
		font-weight: 200;
	}

	a {
		color: @text-color;
	}


	@media(max-width: @screen-xs-max) {
		nobr {
			white-space: normal;
		}
	}
}




/*
*	footer
*/


#footer {

	margin-top: 40px;
	margin-bottom: 40px;

	p {
		text-align: center;
	}

	.row {
		border-top: 1px solid @gray-lighter;
		padding: 20px 0;
	}

	.power {
		@media(min-width: @screen-sm-min) { .columns(auto 2); }
		@media(min-width: @screen-md-min) { .columns(auto 4); }

		li {
			display: block;
			text-align: center;
			padding: 10px;
			line-height: 52px;

			img {
				max-width: 100%;
				max-height: 32px;
			}
		}
	}
}