<%
	var radii = [1, 5,10,15,20,25,30,40,50];

	var getLink = function(has_offers) {
		return props.getLink({
			has_offers: has_offers,
			page: 1,
		});
	};
%>


<div class="option-group">
	<h5>Special Offers:  <%= !!props.has_offers %></h5>
	<div class="btn-group btn-group-justified">
		<div class="btn-group">
			<a	class="btn btn-sm btn-<%= (props.has_offers) ? 'info' : 'default' %>"
				href="<%= getLink(1) %>">

				On

			</a>
		</div>
		<div class="btn-group">
			<a	class="btn btn-sm btn-<%= (!props.has_offers) ? 'danger' : 'default' %>"
				href="<%= getLink(0) %>">

				Off

			</a>
		</div>
	</div>
</div>