<%
	var radii = [1, 5,10,15,20,25,30,40,50];

	var getLink = function(has_offers) {
		return props.getLink({
			has_offers: has_offers,
			page: 1,
		});
	};
%>


<div class="option-group">
	<h6>Special Offers:  <%= !!props.has_offers %></h6>
	<div class="btn-group btn-group-justified">
		<div class="btn-group">
			<a	
				class="btn btn-sm btn-<%= (props.has_offers) ? 'success' : 'default' %>"
				href="<%= getLink(1) %>"
				rel="nofollow"
			>
				On
			</a>
		</div>
		<div class="btn-group">
			<a	
				class="btn btn-sm btn-<%= (!props.has_offers) ? 'danger' : 'default' %>"
				href="<%= getLink(0) %>"
				rel="nofollow"
			>
				Off
			</a>
		</div>
	</div>
</div>