<%
	var radii = [1,5,10,20,30,40,50];

	var getLink = function(radius) {
		return props.getLink({
			radius: radius,
			page: 1,
		});
	};
%>

<div class="option-group">
	<h6>Search Radius:  <%= props.radius %></h6>
	<div class="btn-group btn-group-justified">
		<% _.each(radii, function(radius){ %>
			<div class="btn-group">
				<a 
					href="<%= getLink(radius) %>" 
					class="btn btn-sm btn-info <%= (props.radius === radius) ? 'active' : '' %>"
					rel="nofollow"
				>
					<%= radius %>
				</a>
			</div>
		<% }) %>
	</div>
</div>