<%
	var rppOptions = [5,10,20,30,40,50];

	var getLink = function(rpp) {
		return props.getLink({
			rpp: rpp,
			page: 1,
		});
	};
%>

<div class="option-group">
	<h6>Results Per Page: <%= props.rpp %></h6>
	<div class="btn-group btn-group-justified">
		<% _.each(rppOptions, function(rpp){ %>
			<div class="btn-group">
				<a 
					href="<%= getLink(rpp) %>" 
					class="btn btn-sm btn-info <%= (props.rpp === rpp) ? 'active' : '' %>"
					rel="nofollow"
				>
					<%= rpp %>
				</a>
			</div>
		<% }) %>
	</div>
</div>