<%
	var moment = require('moment');

	String.prototype.trim = String.prototype.trim || function trim() { return this.replace(/^\s\s*/, '').replace(/\s\s*$/, ''); };

	var reviewInfo = props.review_info;
	var reviews = _.map(reviewInfo.reviews, function(r) {
		r.review_text = cleanup(r.review_text);
		return r;
	});

	function cleanup(str) {
		var LF = String.fromCharCode(10);
		var _str = str;

		_str = _str.replace(/\\r/gi, '')
		_str = _str.replace(/\\n/gi, LF)
		_str = _str.trim()

		return _str;
	}
%>

<div id="reviews">
	<% if (reviewInfo.overall_review_rating && _.isNumber(reviewInfo.overall_review_rating)) { %>
		<h4 itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
			<meta itemprop="worstRating" content="0" />
			Average rating of
			<span itemprop="ratingValue"><%- reviewInfo.overall_review_rating %></span>
			out of <span itemprop="bestRating">10</span>
			based on  <span itemprop="reviewCount"><%- reviewInfo.total_user_reviews %></span> user reviews
		</h4>
	<% } %>
	<ul>
		<% _.each(reviews, function(r) { %>
			<li title="Review provided by <%- r.attribution_text %>" itemprop="review" itemscope itemtype="http://schema.org/Review">
				<div class="review">

					<header>
						<% if (r.review_title && !_.isEmpty(r.review_title)) { %>
							<h5 class="review-title" itemprop="headline">
								<%- r.review_title %>
							</h5>
						<% } %>

						<div class="header-extra">
							<% if (r.helpfulness_total_count && _.isNumber(r.helpfulness_total_count)) { %>
								<meta itemprop="interactionCount" content="<%- r.helpfulness_total_count %>" />
							<% } %>

							<% if (r.review_author && !_.isEmpty(r.review_author)) { %>
								<div class="author">
									Reviewed by
									<span itemprop="creator"><%- r.review_author %></span>
								</div>
							<% } %>

							<% var reviewDate = moment(r.review_date) %>
							<% if (reviewDate.isValid()) { %>
								<span class="date"><a href="<%- r.review_url %>">
									Submitted on
									<span itemprop="dateCreated" content="<%- reviewDate.format() %>"><%- reviewDate.format('MMM DD YYYY') %></span>
								</a></span>
							<% } %>

							<% if (r.helpful_count && _.isNumber(r.helpful_count)) { %>
								<span class="helpful helpful-yes"><%- r.helpful_count %> <i class="fa fa-thumbs-o-up"></i></span>
							<% } %>

							<% if (r.unhelpful_count && _.isNumber(r.unhelpful_count)) { %>
								<span class="helpful helpful-no"><%- r.unhelpful_count %> <i class="fa fa-thumbs-o-down"></i></span>
							<% } %>

							<% if (r.review_rating && _.isNumber(r.review_rating)) { %>
								<div class="review-rating" itemprop="reviewRating" itemscope itemprop="http://schema.org/Rating">
									Rated
									<meta itemprop="worstRating" content="0" />
									<span itemprop="ratingValue"><%- r.review_rating %></span>
									out of <span itemprop="bestRating">10</span>
								</div>
							<% } %>
						</div>

					</header>

					<div class="review-body" itemprop="reviewBody"><%- r.review_text %></div>
				</div>

				<div class="attribution">
					Review provided by <a href="<%- r.attribution_url %>"><%- r.attribution_text %></a>
				</div>

			</li>
	 	<% }) %>
	</ul>
</div>