-var alpha = 'A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z'.split(',');
.row:.col-lg-24
	ul.nav.nav-tabs.responsive-col-tabs
		li.active: a All
		each letter in alpha
			li(class="tab-" + letter): a= letter

.row:.col-lg-24
	ul.list-unstyled.geo-list.responsive-cols
		each place in places
			li(class="list-" + place.name.charAt(0), data-initial=place.name.charAt(0))
				a(href=place.getLink())= place.name